.DS_Store
.sass-cache
node_modules

wordcamp.org/wp-content/plugins/
!wp-content/plugins/wc-post-types

wordcamp.org/wp-content/themes/twentyeleven
wordcamp.org/wp-content/themes/twentyten
wordcamp.org/wp-content/themes/twentytwelve
wordcamp.org/wp-content/themes/twentythirteen

cache
temp

wordcamp.org/index.php
wordcamp.org/license.txt
wordcamp.org/readme.html
wordcamp.org/wp-activate.php
wordcamp.org/wp-admin
wordcamp.org/wp-atom.php
wordcamp.org/wp-blog-header.php
wordcamp.org/wp-comments-post.php
wordcamp.org/wp-commentsrss2.php
wordcamp.org/wp-config-sample.php
wordcamp.org/wp-config.php
wordcamp.org/wp-content/uploads
wordcamp.org/wp-cron.php
wordcamp.org/wp-feed.php
wordcamp.org/wp-includes
wordcamp.org/wp-links-opml.php
wordcamp.org/wp-load.php
wordcamp.org/wp-login.php
wordcamp.org/wp-mail.php
wordcamp.org/wp-pass.php
wordcamp.org/wp-rdf.php
wordcamp.org/wp-register.php
wordcamp.org/wp-rss.php
wordcamp.org/wp-rss2.php
wordcamp.org/wp-settings.php
wordcamp.org/wp-signup.php
wordcamp.org/wp-trackback.php
wordcamp.org/xmlrpc.php