#content {

	input[type="text"],
	input[type="tel"],
	input[type="password"],
	input[type="email"],
	textarea {

	}

	input[type="submit"],
	input[type="reset"],
	button {
		background: $ui-color-4 !important;
		border: none !important;
		border-bottom: 6px solid darken($ui-color-4, 15) !important;
		border-radius: 0;
		padding: 1em 1.2em 0.8em 1.2em;
		color: $white;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		outline: none;
		box-shadow: none !important;
		@include rem(font-size, 1.6);
		@include transition(0.1s all ease-in-out);

		&, &:hover {
			text-shadow: none;
		}

		&:hover {
			background: lighten($ui-color-4, 5) !important;
			color: $white;
		}
	}
}