/* Navigation */

#masthead {

	// Main navigation
	.main-navigation,
	.main-small-navigation {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		background: palette(color4);

		> [class^="menu-"] {
			@include outer-container;
			@include rem(font-size, 1.8);

			.nav-menu,
			.menu {
				display: block;
				text-align: center;
				margin: 0;
				padding: 0;

				> li {
					display: inline-block;
					text-align: center;
					float: none;
					margin-left: -4px;

					@include breakpoint($xs) {
						text-align: left;
						display: block;

						a {
							@include rem(padding-top, 1.0);
							@include rem(padding-right, 2.0);
							@include rem(padding-bottom, 1.0);
							@include rem(padding-left, 2.0);
						}
					}

					&:first-of-type {

					}

					&.current_page_item a {
						background: palette(color4, dark);
						position: relative;
						color: palette(color7);

						&:after {
							position: absolute;
							bottom: 0;
							right: 0;
							left: 0;
							background: palette(color4, dark);
							height: 6px;
							content: " ";
						}
					}
				}

				a {
					display: block;
					position: relative;
					color: palette(color5);
					font-weight: 600;
					text-decoration: none;
					@include rem(padding, 2.0);
					@include transition(0.2s all ease-in-out);

					&:after {
						position: absolute;
						bottom: 0;
						right: 0;
						left: 0;
						background: palette(color4, light);
						height: 0;
						content: " ";
						@include transition(0.2s all ease-in-out);
					}

					&:hover {
						background: palette(color4, dark);
						color: palette(color7);

						&:after {
							height: 6px;
						}
					}
				}

				.sub-menu {
					background: palette(color1, dark) !important;
					top: 100%;
					@include cleanlist;

					> li {
						text-align: left;
					}

					a {
						background: palette(color1, dark) !important;
						color: palette(color7);
						@include rem(padding, 1.5);

						&:after {
							display: none !important;
						}

						&:hover {
							background: palette(color1, dark);
						}
					}
				}

			}
		}
	}

	.main-small-navigation [class*="menu-container"] .menu {
		display: none;
	}

	.main-navigation [class*="menu-container"] .menu {
		@include breakpoint($xs) {
			display: none;
		}

		@include breakpoint($md) {
			@include rem(font-size, 1.4);
		}
	}
}

// Mobile menu trigger
.menu-toggle {
	background: none;
	border: none;
	border-radius: 0;
	display: none;
	font-size: 0 !important;
	color: transparent !important;
	text-shadow: none;
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	outline: none;
	@include box-shadow(none);
	@include iconify('\f0c9');

	&:before {
		color: palette(color4, light);
		padding: 0.25em 0.8em;
		margin: 0 auto;
		@include rem(font-size, 3.2);
	}

	&:after {
		display: none !important;
	}

	@include breakpoint($md) {
		display: block !important;
		visibility: visible !important;
	}
}