.wcorg-organizers {
	overflow: hidden;

	.wcorg-organizer {
		overflow: hidden;
		padding: 0.5em 0;
		margin: 0.5em 0;
		border-bottom: 1px solid $light-gray;

		> h2 {
			margin-bottom: 0.5em;
		}

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
			border: none;
		}
	}

	.avatar {
		@include avatar;
		float: left;
		margin: 0 20px 20px 0;
	}

	.wcorg-organizer-description {

	}

	@media screen and (max-width: 767px) {
		.avatar {
			width: 80px !important;
			height: 80px !important;
		}
	}
}