/* Speakers */

.speaker-gravatar-list {
	overflow: hidden;

	a {
		text-decoration: none;
		float: left;
		margin: 0 5px 5px 0;

		&:last-of-type {
			margin-right: 0;
		}

		.avatar {
			@include avatar;
			display: inline-block !important;
		}

		&:hover .avatar {
			border-color: palette(color5);
		}
	}
}

.speaker {
	margin: 20px 0;
	padding: 20px 0;
	overflow: hidden;
	border-bottom: 1px solid palette(color1, light);

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	.avatar {
		@include avatar;
		float: left;
		margin: 0 20px 20px 0;
	}

	.speaker-bio {

	}

	.speaker-name {

	}

	@include breakpoint($xs) {
		.avatar {
			float: none;
			display: block;
			margin: 0 auto 20px auto;
		}
	}
}