/* Sponsors (sidebar) */

// #secondary = sidebar
#secondary {

	.wcb_widget_sponsors {

		// Base elements
		.sponsor-level {

		}

		.sponsor-level-title {
			display: block;
			margin: 1em 0 0.5em 0;
			padding: 0.5em 0;
			@include rem(font-size, 1.8);
			font-weight: 600;
			font-family: $header-font;
			text-transform: uppercase;
			letter-spacing: 1px;
			border-bottom: 1px solid palette(color1, light);

			// Heading icon
			@include iconify('\f091');

			&:before {
				margin-right: 0.3em;
			}
		}

		.sponsor-logo {
			display: block;

			img {
				background: palette(color7);
				width: 100%;
				max-width: 100%;
				height: auto;
				border: 1px solid palette(color1, dark);
				margin: 0.5em 0;
				padding: 5px;

				&:first-of-type {
					margin-top: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		// Sponsor levels
		.pillar .sponsor-level-title {
			color: palette(color5);
		}

		.champion .sponsor-level-title {
			color: palette(color6);
		}

		.accomplice .sponsor-level-title {
			color: palette(color3);
		}

	}
}