@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Attendees */
#tix-attendees .tix-attendee-list {
  *zoom: 1;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  #tix-attendees .tix-attendee-list:before, #tix-attendees .tix-attendee-list:after {
    content: " ";
    display: table; }
  #tix-attendees .tix-attendee-list:after {
    clear: both; }
  #tix-attendees .tix-attendee-list .avatar {
    display: block;
    border: 6px solid #313131;
    -webkit-transition: 0.2s border ease-in-out;
    -moz-transition: 0.2s border ease-in-out;
    transition: 0.2s border ease-in-out; }
  #tix-attendees .tix-attendee-list .tix-attendee-name {
    font-weight: bold;
    color: #be3c3a; }
#tix-attendees .tix-attendee-url {
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
@media (max-width: 767px) {
  #tix-attendees .tix-columns-3 li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #tix-attendees .tix-columns-3 li:last-child {
      margin-right: 0; }
    #tix-attendees .tix-columns-3 li .tix-field {
      font-size: 0.9em !important; }
    #tix-attendees .tix-columns-3 li:nth-child(2n) {
      margin-right: 0 !important;
      padding-right: 0 !important; } }
@media (max-width: 639px) {
  #tix-attendees .tix-columns-3 li {
    width: 100% !important;
    height: auto !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #313131;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #tix-attendees .tix-columns-3 li .tix-field {
      font-size: 1.2em !important; } }

/* Comments */
ol.comment-list {
  list-style: none;
  margin: 2em 0;
  padding: 0;
  text-indent: 0;
  overflow: hidden; }
  ol.comment-list .avatar {
    float: right;
    border-radius: 100%; }
  ol.comment-list li ul {
    list-style: square;
    margin: 0 0 1em 2em; }
  ol.comment-list li.comment {
    position: relative;
    background: #1da9f8;
    padding: 1.5em;
    margin: 1.5em 0; }
    ol.comment-list li.comment:first-of-type {
      margin-top: 0; }
    ol.comment-list li.comment:last-of-type {
      margin-bottom: 0; }
  ol.comment-list .comment-author {
    font-family: "Georgia", Cambria, Times New Roman, Times, serif; }
    ol.comment-list .comment-author .fn a {
      text-decoration: none; }
  ol.comment-list .comment-metadata {
    font-size: 14px;
    font-size: 1.4rem;
    color: #0b0b0b;
    margin: 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 2px solid #1da9f8;
    text-transform: uppercase;
    letter-spacing: 1px; }
    ol.comment-list .comment-metadata a {
      text-decoration: none; }
    ol.comment-list .comment-metadata .edit-link {
      position: absolute;
      bottom: 0;
      right: 0; }
      ol.comment-list .comment-metadata .edit-link a {
        background: #067fc3;
        color: #fff;
        display: block;
        padding: 0.15em 0.5em; }
  ol.comment-list ul.children li.depth-2, ol.comment-list ul.children li.depth-3, ol.comment-list ul.children li.depth-4, ol.comment-list ul.children li.depth-5 {
    border-left: 5px solid #067fc3;
    margin: 0 0 0.25em 0.25em; }

/* Forms */
#content input[type="submit"],
#content input[type="reset"],
#content button {
  background: #be3c3a !important;
  border: none !important;
  border-bottom: 6px solid #97302e !important;
  border-radius: 0;
  padding: 1em 1.2em 0.8em 1.2em;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  box-shadow: none !important;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out; }
  #content input[type="submit"], #content input[type="submit"]:hover,
  #content input[type="reset"],
  #content input[type="reset"]:hover,
  #content button,
  #content button:hover {
    text-shadow: none; }
  #content input[type="submit"]:hover,
  #content input[type="reset"]:hover,
  #content button:hover {
    background: #d47271 !important;
    color: #fff; }

/* Navigation */
#masthead .main-navigation,
#masthead .main-small-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: #be3c3a; }
  #masthead .main-navigation > [class^="menu-"],
  #masthead .main-small-navigation > [class^="menu-"] {
    *zoom: 1;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-size: 1.8rem; }
    #masthead .main-navigation > [class^="menu-"]:before, #masthead .main-navigation > [class^="menu-"]:after,
    #masthead .main-small-navigation > [class^="menu-"]:before,
    #masthead .main-small-navigation > [class^="menu-"]:after {
      content: " ";
      display: table; }
    #masthead .main-navigation > [class^="menu-"]:after,
    #masthead .main-small-navigation > [class^="menu-"]:after {
      clear: both; }
    #masthead .main-navigation > [class^="menu-"] .nav-menu,
    #masthead .main-navigation > [class^="menu-"] .menu,
    #masthead .main-small-navigation > [class^="menu-"] .nav-menu,
    #masthead .main-small-navigation > [class^="menu-"] .menu {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0; }
      #masthead .main-navigation > [class^="menu-"] .nav-menu > li,
      #masthead .main-navigation > [class^="menu-"] .menu > li,
      #masthead .main-small-navigation > [class^="menu-"] .nav-menu > li,
      #masthead .main-small-navigation > [class^="menu-"] .menu > li {
        display: inline-block;
        text-align: center;
        float: none;
        margin-left: -4px; }
        @media (max-width: 767px) {
          #masthead .main-navigation > [class^="menu-"] .nav-menu > li,
          #masthead .main-navigation > [class^="menu-"] .menu > li,
          #masthead .main-small-navigation > [class^="menu-"] .nav-menu > li,
          #masthead .main-small-navigation > [class^="menu-"] .menu > li {
            text-align: left;
            display: block; }
            #masthead .main-navigation > [class^="menu-"] .nav-menu > li a,
            #masthead .main-navigation > [class^="menu-"] .menu > li a,
            #masthead .main-small-navigation > [class^="menu-"] .nav-menu > li a,
            #masthead .main-small-navigation > [class^="menu-"] .menu > li a {
              padding-top: 10px;
              padding-top: 1rem;
              padding-right: 20px;
              padding-right: 2rem;
              padding-bottom: 10px;
              padding-bottom: 1rem;
              padding-left: 20px;
              padding-left: 2rem; } }
        #masthead .main-navigation > [class^="menu-"] .nav-menu > li.current_page_item a,
        #masthead .main-navigation > [class^="menu-"] .menu > li.current_page_item a,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu > li.current_page_item a,
        #masthead .main-small-navigation > [class^="menu-"] .menu > li.current_page_item a {
          background: #97302e;
          position: relative;
          color: #fff; }
          #masthead .main-navigation > [class^="menu-"] .nav-menu > li.current_page_item a:after,
          #masthead .main-navigation > [class^="menu-"] .menu > li.current_page_item a:after,
          #masthead .main-small-navigation > [class^="menu-"] .nav-menu > li.current_page_item a:after,
          #masthead .main-small-navigation > [class^="menu-"] .menu > li.current_page_item a:after {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background: #97302e;
            height: 6px;
            content: " "; }
      #masthead .main-navigation > [class^="menu-"] .nav-menu a,
      #masthead .main-navigation > [class^="menu-"] .menu a,
      #masthead .main-small-navigation > [class^="menu-"] .nav-menu a,
      #masthead .main-small-navigation > [class^="menu-"] .menu a {
        display: block;
        position: relative;
        color: #d0bb49;
        font-weight: 600;
        text-decoration: none;
        padding: 20px;
        padding: 2rem;
        -webkit-transition: 0.2s all ease-in-out;
        -moz-transition: 0.2s all ease-in-out;
        transition: 0.2s all ease-in-out; }
        #masthead .main-navigation > [class^="menu-"] .nav-menu a:after,
        #masthead .main-navigation > [class^="menu-"] .menu a:after,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu a:after,
        #masthead .main-small-navigation > [class^="menu-"] .menu a:after {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          background: #d47271;
          height: 0;
          content: " ";
          -webkit-transition: 0.2s all ease-in-out;
          -moz-transition: 0.2s all ease-in-out;
          transition: 0.2s all ease-in-out; }
        #masthead .main-navigation > [class^="menu-"] .nav-menu a:hover,
        #masthead .main-navigation > [class^="menu-"] .menu a:hover,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu a:hover,
        #masthead .main-small-navigation > [class^="menu-"] .menu a:hover {
          background: #97302e;
          color: #fff; }
          #masthead .main-navigation > [class^="menu-"] .nav-menu a:hover:after,
          #masthead .main-navigation > [class^="menu-"] .menu a:hover:after,
          #masthead .main-small-navigation > [class^="menu-"] .nav-menu a:hover:after,
          #masthead .main-small-navigation > [class^="menu-"] .menu a:hover:after {
            height: 6px; }
      #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu,
      #masthead .main-navigation > [class^="menu-"] .menu .sub-menu,
      #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu,
      #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu {
        background: black !important;
        top: 100%; }
        #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu, #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu li,
        #masthead .main-navigation > [class^="menu-"] .menu .sub-menu,
        #masthead .main-navigation > [class^="menu-"] .menu .sub-menu li,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu li,
        #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu,
        #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu li {
          margin: 0;
          padding: 0;
          list-style: none; }
        #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu > li,
        #masthead .main-navigation > [class^="menu-"] .menu .sub-menu > li,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu > li,
        #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu > li {
          text-align: left; }
        #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu a,
        #masthead .main-navigation > [class^="menu-"] .menu .sub-menu a,
        #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu a,
        #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu a {
          background: black !important;
          color: #fff;
          padding: 15px;
          padding: 1.5rem; }
          #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu a:after,
          #masthead .main-navigation > [class^="menu-"] .menu .sub-menu a:after,
          #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu a:after,
          #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu a:after {
            display: none !important; }
          #masthead .main-navigation > [class^="menu-"] .nav-menu .sub-menu a:hover,
          #masthead .main-navigation > [class^="menu-"] .menu .sub-menu a:hover,
          #masthead .main-small-navigation > [class^="menu-"] .nav-menu .sub-menu a:hover,
          #masthead .main-small-navigation > [class^="menu-"] .menu .sub-menu a:hover {
            background: black; }
#masthead .main-small-navigation [class*="menu-container"] .menu {
  display: none; }
@media (max-width: 767px) {
  #masthead .main-navigation [class*="menu-container"] .menu {
    display: none; } }
@media (min-width: 992px) {
  #masthead .main-navigation [class*="menu-container"] .menu {
    font-size: 14px;
    font-size: 1.4rem; } }

.menu-toggle {
  background: none;
  border: none;
  border-radius: 0;
  display: none;
  font-size: 0 !important;
  color: transparent !important;
  text-shadow: none;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  .menu-toggle:before {
    content: "";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    vertical-align: middle; }
  .menu-toggle:before {
    color: #d47271;
    padding: 0.25em 0.8em;
    margin: 0 auto;
    font-size: 32px;
    font-size: 3.2rem; }
  .menu-toggle:after {
    display: none !important; }
  @media (min-width: 992px) {
    .menu-toggle {
      display: block !important;
      visibility: visible !important; } }

/* Organizers */
.wcorg-organizers {
  overflow: hidden; }
  .wcorg-organizers .wcorg-organizer {
    overflow: hidden;
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-bottom: 1px solid #313131; }
    .wcorg-organizers .wcorg-organizer > h2 {
      margin-bottom: 0.5em; }
    .wcorg-organizers .wcorg-organizer:first-of-type {
      margin-top: 0; }
    .wcorg-organizers .wcorg-organizer:last-of-type {
      margin-bottom: 0;
      border: none; }
  .wcorg-organizers .avatar {
    display: block;
    border: 6px solid #313131;
    -webkit-transition: 0.2s border ease-in-out;
    -moz-transition: 0.2s border ease-in-out;
    transition: 0.2s border ease-in-out;
    float: left;
    margin: 0 20px 20px 0; }
  @media (max-width: 767px) {
    .wcorg-organizers .avatar {
      width: 80px !important;
      height: 80px !important; } }

/* Schedule */
.wcpt-schedule a {
  text-decoration: none; }
.wcpt-schedule .wcpt-session-title {
  font-weight: bold;
  display: block; }
.wcpt-schedule .wcpt-session-speakers {
  background: #313131;
  display: block;
  margin-top: 0.5em;
  padding: 0.3em;
  font-size: 0.8em; }
  .wcpt-schedule .wcpt-session-speakers, .wcpt-schedule .wcpt-session-speakers a {
    color: #067fc3; }
  .wcpt-schedule .wcpt-session-speakers a:before {
    margin-right: 0.3em; }

/* Speakers */
.speaker-gravatar-list {
  overflow: hidden; }
  .speaker-gravatar-list a {
    text-decoration: none;
    float: left;
    margin: 0 5px 5px 0; }
    .speaker-gravatar-list a:last-of-type {
      margin-right: 0; }
    .speaker-gravatar-list a .avatar {
      display: block;
      border: 6px solid #313131;
      -webkit-transition: 0.2s border ease-in-out;
      -moz-transition: 0.2s border ease-in-out;
      transition: 0.2s border ease-in-out;
      display: inline-block !important; }
    .speaker-gravatar-list a:hover .avatar {
      border-color: #d0bb49; }

.speaker {
  margin: 20px 0;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #313131; }
  .speaker:first-of-type {
    margin-top: 0; }
  .speaker:last-of-type {
    margin-bottom: 0; }
  .speaker .avatar {
    display: block;
    border: 6px solid #313131;
    -webkit-transition: 0.2s border ease-in-out;
    -moz-transition: 0.2s border ease-in-out;
    transition: 0.2s border ease-in-out;
    float: left;
    margin: 0 20px 20px 0; }
  @media (max-width: 767px) {
    .speaker .avatar {
      float: none;
      display: block;
      margin: 0 auto 20px auto; } }

/* Sponsors (sidebar) */
#secondary .wcb_widget_sponsors .sponsor-level-title {
  display: block;
  margin: 1em 0 0.5em 0;
  padding: 0.5em 0;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #313131; }
  #secondary .wcb_widget_sponsors .sponsor-level-title:before {
    content: "";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    vertical-align: middle; }
  #secondary .wcb_widget_sponsors .sponsor-level-title:before {
    margin-right: 0.3em; }
#secondary .wcb_widget_sponsors .sponsor-logo {
  display: block; }
  #secondary .wcb_widget_sponsors .sponsor-logo img {
    background: #fff;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 0.5em 0;
    padding: 5px; }
    #secondary .wcb_widget_sponsors .sponsor-logo img:first-of-type {
      margin-top: 0; }
    #secondary .wcb_widget_sponsors .sponsor-logo img:last-of-type {
      margin-bottom: 0; }
#secondary .wcb_widget_sponsors .pillar .sponsor-level-title {
  color: #d0bb49; }
#secondary .wcb_widget_sponsors .champion .sponsor-level-title {
  color: #bc360a; }
#secondary .wcb_widget_sponsors .accomplice .sponsor-level-title {
  color: #067fc3; }

/* Tickets */
@media (min-width: 992px) {
  #tix .tix_tickets_table, #tix .tix_tickets_table th {
    font-size: 13px !important; } }
@media (max-width: 767px) {
  #tix .tix_tickets_table, #tix .tix_tickets_table th {
    font-size: 12px !important; } }

/* Base Styles */
body {
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important; }

body,
#page {
  font-size: 20px;
  font-size: 2rem; }
  @media (max-width: 767px) {
    body,
    #page {
      font-size: 16px;
      font-size: 1.6rem; } }

#masthead {
  background: #067fc3 url(img/banner.jpg) no-repeat 45% 0 fixed;
  background-size: cover;
  padding: 5em 0 1.5em 0;
  margin: 0 0 3em 0;
  border-bottom: 20px solid #1da9f8; }
  body.home #masthead {
    padding: 6em 0 3em 0; }
  #masthead .site-branding,
  #masthead .main-navigation {
    float: none; }
  #masthead .site-branding, #masthead hgroup {
    *zoom: 1;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center; }
    #masthead .site-branding:before, #masthead .site-branding:after, #masthead hgroup:before, #masthead hgroup:after {
      content: " ";
      display: table; }
    #masthead .site-branding:after, #masthead hgroup:after {
      clear: both; }
    #masthead .site-branding .site-title, #masthead hgroup .site-title {
      display: block;
      background: url(img/logo.png) no-repeat center;
      background-size: auto 100%;
      height: 150px;
      font: 0/0 a;
      margin: 0 auto; }
      @media (min-width: 992px) {
        #masthead .site-branding .site-title, #masthead hgroup .site-title {
          height: 100px; } }
      body.home #masthead .site-branding .site-title, body.home #masthead hgroup .site-title {
        height: 300px; }
        @media (min-width: 992px) {
          body.home #masthead .site-branding .site-title, body.home #masthead hgroup .site-title {
            height: 150px; } }
      #masthead .site-branding .site-title a, #masthead hgroup .site-title a {
        color: #fff;
        text-decoration: none; }
    #masthead .site-branding .site-description, #masthead hgroup .site-description {
      font-size: 16px;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 2px; }
      body.home #masthead .site-branding .site-description, body.home #masthead hgroup .site-description {
        font-size: 20px;
        font-size: 2rem; }

#main {
  *zoom: 1;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  #main:before, #main:after {
    content: " ";
    display: table; }
  #main:after {
    clear: both; }

#page {
  background: #fff;
  margin: 0 auto;
  color: black;
  position: relative; }
  @media screen and (max-width: 767px) {
    #page {
      font-size: 18px;
      font-size: 1.8rem; } }

#content {
  max-width: 1140px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    #content {
      padding-right: 2em;
      padding-left: 2em; } }

@media (max-width: 767px) {
  #primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    #primary:last-child {
      margin-right: 0; } }

#secondary .widget {
  background: #313131;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 1.2em; }
  #secondary .widget ul, #secondary .widget ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
  #secondary .widget .widget-title {
    font-family: "Georgia", Cambria, Times New Roman, Times, serif;
    font-weight: 200;
    font-size: 16px;
    font-size: 1.6rem;
    color: #067fc3;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid black; }
    #secondary .widget .widget-title:first-of-type {
      margin-top: 0; }
@media (max-width: 767px) {
  #secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #secondary:last-child {
      margin-right: 0; } }

#colophon {
  background: black;
  padding: 4em 2em;
  margin-top: 2em;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  overflow: hidden; }
  #colophon a {
    text-decoration: none; }
  #colophon a:link,
  #colophon a:visited {
    color: #d0bb49; }
  #colophon a:hover,
  #colophon a:active {
    color: #fff; }

a {
  -webkit-transition: 0.2s color ease-in-out;
  -moz-transition: 0.2s color ease-in-out;
  transition: 0.2s color ease-in-out; }

a:link,
a:visited {
  color: #be3c3a; }

a:hover,
a:active {
  color: #d0bb49; }

table {
  width: 100%;
  border: 1px solid #313131;
  border-collapse: collapse; }
  table th,
  table td {
    border: 1px solid #313131;
    padding: 0.5em;
    vertical-align: text-top !important; }
  table th {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Georgia", Cambria, Times New Roman, Times, serif;
    color: #bc360a; }

#primary h1, #primary h2, #primary h3, #primary h4, #primary h5, #primary h6 {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-weight: 700; }
  #primary h1 a, #primary h2 a, #primary h3 a, #primary h4 a, #primary h5 a, #primary h6 a {
    text-decoration: none; }
#primary h1, #primary h2, #primary h3 {
  color: #be3c3a; }
#primary h1 {
  font-size: 40px;
  font-size: 4rem; }
#primary h2 {
  font-size: 30px;
  font-size: 3rem; }
#primary h3 {
  font-size: 28px;
  font-size: 2.8rem; }
#primary h4 {
  font-size: 24px;
  font-size: 2.4rem;
  color: #067fc3; }
#primary h5 {
  font-size: 22px;
  font-size: 2.2rem;
  color: #067fc3; }
#primary h6 {
  font-size: 20px;
  font-size: 2rem;
  color: black; }

.hentry {
  margin-bottom: 3em; }

.entry-header {
  position: relative;
  padding-bottom: 1em; }
  .entry-header:before {
    position: absolute;
    top: 0;
    left: -5000px;
    right: 0;
    bottom: 0;
    z-index: 0;
    content: "";
    border-bottom: 2px solid #1da9f8; }
  .entry-header .entry-title,
  .entry-header .entry-meta {
    position: relative;
    z-index: 1;
    display: block; }
  .entry-header .entry-meta {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #313131; }
    .entry-header .entry-meta a {
      color: #067fc3; }
      .entry-header .entry-meta a:hover {
        color: #045f92; }

.entry-footer {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #313131;
  border-top: 1px solid #313131;
  padding-top: 0.5em; }
  .entry-footer a {
    color: #067fc3; }
    .entry-footer a:hover {
      color: #045f92; }
  .entry-footer span {
    margin-right: 0.5em; }
    .entry-footer span:last-of-type {
      margin-right: 0; }
  .entry-footer .comments-link:before {
    content: "";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    vertical-align: middle; }

body.single #content > img.wp-post-image {
  display: block;
  clear: both;
  max-width: 100%;
  height: auto;
  margin-bottom: 1em; }

/*# sourceMappingURL=style.css.map */
